#header {
    width: 100%;
    /* background-color: red; */
    margin: 10em 2em 2.5em;
    /* padding: 1em; */
}

#website-name {
    font-size: 4.5em;
    font-weight: 750;
    color: #1479f2;
    margin: 0.25;
    cursor: pointer;
}


.website-description {
    font-weight: 1000;
}