.sidebar {
    width: 5em;
    padding: 1em;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f9fafb;
    align-items: center;

     display: flex; 
     flex-direction: column; 
     justify-content: space-between; 
}

.sidebar > ul {
    list-style: none;
    width: 100%;
}

.sidebar > ul > .nav-item {
    margin-bottom: 1em;
    padding: 0.6em;
    border-radius: 15px;
    transition: 
        background-color 0.2s ease;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #e2e8f0;
}

.logo {
    transform: scale(0.7);
    cursor: pointer;
}