.sort-dropdown {
    margin: 0em 2em 1em;
    border: 0.1em solid #989898;
    color: #989898;
    width: 10em;
    padding: 0.75em 1.1em;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.sort-dropdown-icon {
    width: 1em;
}